<!DOCTYPE html>
<html>
<head>
  <title>Sheen's Shoes.</title>
  <!--[if lt IE 9]>
    <script src="http://html5shim.googlecode.com/svn/trunk/html5.js" type="text/javascript"></script>
  <![endif]-->
  <link rel="stylesheet" href="//netdna.bootstrapcdn.com/bootstrap/3.1.1/css/bootstrap.min.css">
  <link rel="stylesheet" href="//netdna.bootstrapcdn.com/bootstrap/3.1.1/css/bootstrap-theme.min.css">
  <%= stylesheet_link_tag    "application", :media => "all" %>
  <%= javascript_include_tag "application" %>
  <%= csrf_meta_tags %>
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
</head>
<body>
  <div class="navbar navbar-default navbar-static-top" role="navigation">
    <div class="container">
      <div class="navbar-header">
        <a class="navbar-brand" href="/products">Sheen's Shoes.</a>
      </div>
      <ul class="nav navbar-nav">
        <li><a href="/products">Price List</a></li>
        <li><a href="#">Contact Us</a></li>
        <li><a href="#">Delivery Status</a></li>
      </ul>
    </div>
  </div>
  <div class="container">
    <div class="row">
      <div class="col-md-8">
        <%= yield %>
      </div>

      <div class="col-md-4">
        <h2>About Us</h2>
        <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Cras porttitor tincidunt sem. Maecenas sed erat venenatis, imperdiet ipsum at, consequat sem. Suspendisse potenti. Curabitur sagittis, tortor vitae ultricies consequat, ante leo interdum orci, ac tempus magna sem vitae sem. Duis tincidunt a enim nec faucibus. Aliquam semper, massa vitae sodales porttitor, eros odio vestibulum nisl, vel tincidunt lectus nunc quis libero. Cum sociis natoque penatibus et magnis dis parturient montes, nascetur ridiculus mus. Fusce scelerisque in nunc ac auctor. Donec sit amet sem turpis. Donec fermentum, turpis quis fermentum faucibus, mauris dui commodo enim, ut pellentesque urna nisi at lorem. Mauris gravida est sed ipsum eleifend, at tristique nunc tristique. Vestibulum imperdiet feugiat augue sed scelerisque. Interdum et malesuada fames ac ante ipsum primis in faucibus.</p>
        <img src="http://placesheen.com/200/300" />
      </div>
    </div>
  </div>
</body>
</html>
